* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto',
    monospace;
}

.App {
  text-align: center;
  background-color: #4660a1;
  height: 100%;
}

.PlayerRSWP {
  display: none;
}
